*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
app/build
/captures
.externalNativeBuild
.cxx
local.properties
app/google-services.json
.idea/
.kotlin/
# this is the stupidest workaround ever, but I cba to figure out .env on gradle rn so I just did this lmaoo
app/src/main/java/com/example/mobilepopmasterr/env.kt